* {
  box-sizing: border-box;
}
html {
  font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.todo-mvc-component {
  position: relative;

  &__input {
    height: 48px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 8px;
    width: 400px;

    &--wrapper {
      position: relative;
    }
  }

  &__tick-all-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 3px;
    cursor: pointer;
    @include flexbox();
  }

  &__todo-list {
    position: absolute;
    top: 56px;
    left: 0;
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    max-height: 400px;
    border: 1px solid #999;
  }

  &__todo-item {
    @include flexbox($align: center);
    padding: 12px 16px;
    gap: 8px;
    border-bottom: 1px solid #ededed;
    &:hover {
      --set-todo-mvc-component__remove-btn--opacity: 1;
    }
  }

  &__checkbox-btn {
    @include flexbox();
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &__icon {
      width: 40px;
      height: 40px;
      background-position: 0;
      background-repeat: no-repeat;

      &--completed {
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
      }

      &--not-yet {
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
      }
    }
  }

  &__remove-btn {
    @include flexbox();
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    opacity: var(--set-todo-mvc-component__remove-btn--opacity, 0);
  }

  &__footer {
    @include flexbox($justify: space-between);
    padding: 12px 16px;
    font-size: 12px;
  }

  &__item-count {
    padding-inline: 2px;
  }

  &__filters {
    @include flexbox();
    gap: 4px;
  }

  &__filter {
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover,
    &.active {
      border-color: #cb9295;
    }
  }

  &__clear-complete-btn {
    cursor: pointer;
  }
}
